<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="mongo" connectionString="mongodb://118.31.71.255:27017/SIMdb"  /> 
  </connectionStrings>
  <appSettings> 
    <add key="mongodb" value="SIMdb"/>
  </appSettings>
</configuration>
