<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=118.31.71.255;Initial Catalog=NFineBase;User ID=sa;Password=enjoytown@123" providerName="System.Data.SqlClient" />
  <add name="mongo" connectionString="mongodb://118.31.71.255:27017/SIMdb"  />
</connectionStrings>
 